* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(155, 39, 95),
    rgb(146, 8, 156)
  );
}
.player {
  margin: 150px 400px;
  display: flex;
  justify-content: center;
}
.player_1,
.player_2 {
  width: 700px;
  height: 400px;
  padding: 70px;
}
.sleep {
  background-color: rgba(193, 144, 177);
  box-shadow: 0px 10px 7px rgb(194, 117, 170, 0.2);
  border: 5px solid rgb(193, 144, 177);
}
.active {
  background-color: rgb(241, 219, 234);
  box-shadow: 0px 10px 7px rgb(241, 219, 234, 0.2);
  border: 5px solid rgb(241, 219, 234);
}
.winner {
  background-color: black;
  color: red;
}
.player p {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  font-size: 60px;
  color: red;
}
.header {
  font-size: 45px;
}
.container {
  text-align: center;
  position: relative;
}
.btn {
  position: absolute;
  height: 100%;
  display: grid;
  left: 50%;
  transform: translate(-50%, 0);
  grid-template-rows: auto auto auto auto;
}
button {
  font-size: 26px;
  background-color: rgba(240, 248, 255, 0.817);
  border-radius: 10%;
}
.btn-reset {
  margin: 30px;
}
.btn-hold {
}
.btn-dice {
}
.current_score {
  font-size: 36px;
  padding: 10px;
  margin: 10px;
  background-color: brown;
  color: white;
  margin-top: 110px;
  margin-right: 35px;
  margin-left: 35px;
}
.dice {
  position: absolute;
  width: auto;
  height: 5rem;
  top: 30%;
  left: 46%;
}
